<div class="container"><h1>History</h1><p>
	Telephone directories are a type of city directory. Books listing the inhabitants of an entire city were widely published starting in the 18th century, before the invention of the telephone.<br><br>

The first telephone directory, consisting of a single piece of cardboard, was issued on 21 February 1878; it listed 50 individuals, businesses, and other offices in New Haven, Connecticut that had telephones.<br><br>

The first British telephone directory was published on 15 January 1880 by The Telephone Company. It contained 248 names and addresses of individuals and businesses in London; telephone numbers were not used at the time as subscribers were asked for by name at the exchange. The directory is preserved as part of the British phone book collection by BT Archives.<br><br>

In 1938, AT&T commissioned the creation of a new type font, known as BELL GOTHIC, the purpose of which was to be readable at very small font sizes when printed on newsprint where small imperfections were common.<br><br>

In 1981 France was the first country to have an electronic directory on a system called Minitel. The directory is called "11" after its telephone access number.<br><br>

In 1991 the U.S. Supreme Court ruled (in Feist v. Rural) that telephone companies do not have a copyright on telephone listings, because copyright protects creativity and not the mere labor of collecting existing information.<br><br>

1996 was the year the first telephone directories went online in the USA. Yellowpages.com and Whitepages.com both saw their start in April.<br><br>

In 1999, the first online telephone directories and people-finding sites such as LookupUK.com went online in the UK. In 2003, more advanced UK searching including Electoral Roll became available on LocateFirst.com.<br><br></p></div>


